body {
  font-family: 'Open Sans', sans-serif;
  width: 320px;
  margin: 5px auto;
}

.hide {
  display: none;
}

#laptimer {
  margin: auto;
  width: 175px;
}

#button-row {
  border-bottom: 1px solid black;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

#button-row button {
  width: 80px;
  text-transform: uppercase;
}

#button-row #stop-btn {
  margin-right: 7px;
}

#timer {
  font-size: 32px;
  line-height: 32px;
  display: inline-block;
  border-bottom: 1px solid black;
  margin-bottom: 7px;
}

#timer span {
  display: inline-block;
}

#timer .milli {
  font-size: 20px;
  line-height: 32px;
}

#laps .record {
  padding: 7px;
  margin-bottom: 7px;
  display: none;
  background-color: #fcf8e3;
  border-radius: 10px;
}

#laps .lap {
  display: inline-block;
  font-size: 19px;
}

#laps .duration {
  text-align: right;
  float: right;
}